.page-account {

  .header-content-info {
    margin-top: -15px;
    margin-left: -15px;
  }
  .content-body{
    margin-top: 45px;
  }
  .box-account{

  .p-account{
    margin-top : 2px;
    margin-left :2px;
    cursor: pointer;

   }
   .border-avatar{
     max-width: 55px;
     padding: 2px 0px 1px 1px;
     border-style: solid;
     border-width: thin;
     border-color: #D2D6DE;

   }
 }
 .box-account-content{
   max-width: 650px;
 }
 .choid-radio-button{
   margin-bottom: 8px;
 }
 .join-group{
   padding: 20px 10px 20px 2px;
   border-style: solid;
   border-width: thin;
   border-color: #D2D6DE;
   margin-bottom: 15px;
 }
 .btn.btn-flat{
   margin-right: 10px;
   width: 145px;
   float: left;
 }
 .btn-add-team-no-parent{
    font-size: 17px;
    float: right;
    margin-right: 0px;
    margin-top: 3px;
    cursor: pointer;


 }
 .btn-add-member{
   margin-top: 6px;
 }
 .btn-add-member-group{
  margin-top: 6px;
 }
 .btn-add-member-hide{
   display: none;
 }
 .btn-invite-member-hide{
   display: none;
 }
 .btn-invite-member{
    margin-top: 40px;
 }
 .buttonSave{
   float: right;
 }
}
