.page-index {

  .header-info {

     margin-top: 10px;
  }
  .leftBoxInfor {

    margin-right: -20px;
    max-width: 250px;
    min-width:230px;
    margin-top: 10px;
    margin-bottom: 60px;
  .leftBox
    {
      padding: 20px 20px 20px 15px;
      font-size: 15px;
      line-height : 2;
      .liLeftBox{
        list-style:none;
        .colorFontLeftBox{
          color: #333;
        }
      }
    }
  }
  .full-conttent-setting{
    margin-top: 0px;
  }
  .content-setting{
    margin-top: -14px;
  }
}
