.page-account{
  .header-notification-info{
    margin-top: -40px;
    margin-left: -15px
  }

    .Headder-box-notification{
      padding-top: 10px;
      padding-bottom: 20px;
      .box-Headder-form{
        float: left;
        border-right-width: thin;
        border-right-style: solid;
        border-right-color: gray;

      }
      .icon-header-form {
        float: left;
        margin-right: 15px;
      }
    }


  .mid-box-notification{
    padding-bottom: 20px;

  }
  .checkBox{
    display: inline;
    margin-right: 10px;
  }
  .footer-box-notification{
    padding-left: 15px;
  }

}
