.department-note-onclick{
  font-size: 14px;
  color:  #3c8dbc;
  height: 36px;
  background-color: #EDEDED;;
  border-left-color: #3c8dbc;
  border-left-style: solid;
  border-left-width: 3px;

}
.hover-class{
  font-size: 14px;
  color:  #3c8dbc;
  height: 38px;
  background-color: #e9ebee;

}
.department-note-notClick{
  margin-left: 20px
}
.child{
  color: #777;
  cursor:pointer;
  margin-top: 10px;
  font-size: 15px;

}
.parent{
    color: #777;
    cursor:pointer;
    margin-bottom: 15px;
}
.icon-add-department{
  cursor: pointer;
  margin-left:10px;
  margin-right: 5px;

}
.icon-delete-department{
  cursor: pointer;
  margin-left:5px;
  color: #DD4B39;
  font-size: 17px;
}
.div-edit-department{
  float: right;
  margin-right: 2px;
  margin-top: -20px;
}
.i-folder{
  margin-left: 3px;
  margin-top: 10px;

}
.child-none{
  display: none;
}
.label-diagram{
  margin-bottom: 15px
}
