.icon-delete-team{
  float: right;
  cursor: pointer;
  margin-left: 5px;
  color: #DD4B39;
  font-size: 17px;
}
.icon-delete-member-team{
  cursor: pointer;
  margin-left: 5px;
  color: #DD4B39;
  font-size: 17px;
}
