.upload-file{
  text-align: center;
  margin-top: 50%;
}
.ok-upload{
  float: right;
  margin-bottom: 10px;
}
.cancel-upload{
  margin-left: 5px;
  float: left;
  margin-bottom: 10px;
}
.table-upload{
  margin-left: -10px;
  margin-top: 10px;
  .th-remove{
    text-align: center;
  }
  .td-remove{
    text-align: center;
  }
}
.table-download{
  margin-left: 15px;
  margin-top: 15px;

}
.btn-download-file-attack{
  float: left;
}
