.cluster-drag-box {
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	background: url("http://ticket.demo.vietidv2.net/img/agent-login.png") no-repeat fixed;
	background-size: cover;
}