.list-ticket {
	.react-bs-table-container {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		p {
			margin: 1px 0;
		}
	}

	.btn-social > :first-child {
		border-right: none;
	}
	.btn-ticket-list-search{
		margin-right: 7px;
	}
}
