.initial-height {
	height: initial;
}

.request-waiting.box {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.waiting .request-waiting.box {
	display: block;
}

.s-alert-box {
	z-index: 9999
}