.navigation-menu{
  color: #b8c7ce;
  cursor: pointer;
  background: #222d32;
  margin-top: 3px;
  .span-arrow{
    margin-left: 18px
  }
  .liNewApp{
    margin-top: 8px;
  }


}
.span-menu{
    color: #fff;
    margin-left: 21px;
    background: #222d32;
}
.liActive{
  margin-top: 8px;
  margin-bottom: 15px;
}
